

@import models.Category
@import models.Product
@(user: models.users.User, p: models.Product)

@main("Home", user) {

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->


	 <section>

         <div class="total-ads main-grid-border">
		<div class="container">
			<h2 class="head">Instruments</h2>
					<div class="container">
			<div class="col-md-2 focus-grid">
			<a href="@routes.HomeController.display_all_Mobiles">
					<div class="focus-border">

						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-mobile"></i></div>
							<h4 class="clrchg">Mobiles</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
				<a href="@routes.HomeController.display_all_Electronics">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-laptop"></i></div>
							<h4 class="clrchg"> Electronics</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
					<a href="@routes.HomeController.display_all_Instruments">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-music"></i></div>
							<h4 class="clrchg">Instruments</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
				<a href="@routes.HomeController.display_all_Books">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-book"></i></div>
							<h4 class="clrchg">Books</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
					<a href="@routes.HomeController.display_all_Games">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-gamepad"></i></div>
							<h4 class="clrchg">Games</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
				<a href="@routes.HomeController.index">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-home"></i></div>
							<h4 class="clrchg">Home</h4>
						</div>
					</div>
				</a>
			</div>
		</div>


		<div class="select-box">

				<h2 class="head">Display All Instruments</h2>
				<div class="clearfix"></div>
			</div>


			<div class="ads-grid">
				<div class="side-bar col-md-3">
					<p>Is there a product that you wish to purchase but we do not stock? Then please go to the
						<a href="@routes.HomeController.requestProduct"> request a product</a> page and leave us your details.</p>


					<div class="featured-ads">

					<h2 class="sear-head fer">Featured Ads</h2>
					<div class="featured-ad">
						<a href="@routes.HomeController.book_1">
							<div class="featured-ad-left">
								<img src="@routes.Assets.versioned("images/papillon1.jpg ")"title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>@p.help(4)  by Henri Charriere </h4>
								<p> &#8364; @p.help_price(4) </p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="featured-ad">
						<a href="@routes.HomeController.game_1">
							<div class="featured-ad-left">
								<img src="@routes.Assets.versioned("images/resboevil.png")" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>@p.help(7) </h4>
								<p> &#8364; @p.help_price(7)</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="featured-ad">
						<a href="@routes.HomeController.mobiles_1">
							<div class="featured-ad-left">
								<img src="@routes.Assets.versioned("images/s7.jpg ")" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>@p.help(15)</h4>
								<p>&#8364; @p.help_price(7)</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					</div>
					<div class="clearfix"></div>
				</div>

				</div>
				<div class="ads-display col-md-9">
					<div class="wrapper">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					  <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						   <div>
												<div id="container">
								<div class="view-controls-list" id="viewcontrols">
									<label>view :</label>
									<a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
									<a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
								</div>

								<div class="clearfix"></div>
							<ul class="list">
								<a href="@routes.HomeController.instrument_1">
									<li>
									<img src="@routes.Assets.versioned("images/Martin-D17-M-3.jpg ")"  title="" alt="" />
									<section class="list-left">
									<h5 class="title">@p.help(10)</h5>
									<span class="adprice">&#8364; @p.help_price(10)</span>
									<p class="catpath">Electronics</p>
									<p>
										In the early 2000's C.F. Martin & Company for a while manufactured the Martin D-17, a guitar that combined the building specifications of the Martin D-15, and the Martin D-16's. First and foremost, and visually obvious, is that the Martin D-17 is an all mahogany guitar just as were the no longer produced "17 series" instruments of old, and as the current "15" series instruments of now. The use of a mahogany sound board or top on this instrument creates a very very different tonality from the more common spruce soundboards that not just Martin, but nearly every steel string dreadnought manufacturer uses for the largest majority of their instruments.
Mahogany top guitars are not uncommon, and they aren't even slightly new ideas, and of course they are not bad ideas either. They just produce a much more cold, stiff, and darker tonality than do guitars with either spruce or cedar tops. Spruce and cedar are conifer woods, mahogany is a hardwood, and so the mahogany soundboard will not vibrate so thoroughly or freely and will not produce the volume that either spruce or cedar tops can and do.
Regarding the lesser volume of mahogany topped acoustic guitars, don't overly fret yourself about it, just fret the guitar - all Martin instruments are available outfitted with pre-amp and pickup electronics for amplification.
Pretty obviously, an all mahogany guitar will look quite a lot different from the conifer topped guitar too, and isn't the mahogany top instrument also very beautiful? I say it is, it just won't sound like what you are used to, but boy does it still sound wonderful!



										 </p>
									</section>

									<div class="clearfix"></div>
									</li>
								</a>
								<a href="@routes.HomeController.instrument_2">
									<li>
									<img src="@routes.Assets.versioned("images/mandolin3.jpg  ")" title="" alt="" />
									<section class="list-left">
									<h5 class="title">@p.help(11)</h5>
									<span class="adprice">&#8364; @p.help_price(11)</span>
									<p class="catpath">INstrument</p>
									<p>
										A beautiful instrument; full, resonant, well-balanced tone; great carrying power. The F-5 Master Model embodies the utmost skill, craftsmanship, and technical knowledge of the world's greatest mandolin makers. Finished with an ultra-thin, hand-brushed varnish and hand-applied French polish, the Gibson F-5 Master Model is the ultimate in sound and beauty.
				</p>
									</section>

									<div class="clearfix"></div>
									</li>
								</a>
								<a href="@routes.HomeController.instrument_3">
									<li>
									<img src="@routes.Assets.versioned("images/bass2.jpg  ")"  title="" alt="" />
									<section class="list-left">
									<h5 class="title">@p.help(12)</h5>
									<span class="adprice">&#8364; @p.help_price(12)</span>
									<p class="catpath">INstrument</p>
									<p>
										Based out of Deidesheim, Germany, Jens Ritter is an electric bass luthier known for his artistic flair and luxurious basses. In addition to his exceptional line of basses is the Ritter Royal collection, which are set apart due to a “unique feature or an exceptional design history aspect of Jens Ritter’s career as a luthier.” In 2006 he outdid himself and built what has been billed as the most expensive bass in the world: The Ritter Royal Flora Aurum.

The handcrafted bass starts with a solid piece of the highest-figured quilted maple and matching headstock. Finding a piece large enough to build a body from is quite rare, as most builders only get enough for a top. Another rare piece is the nut, which is made of a at least 10,000 year old Siberian mammoth ivory.

From there, gold and diamonds are used to create the bass. The ebony fingerboard features a floral pattern inlay made of 24-carat gold, with each leaf of the inlay accented by a black diamond set in platinum. Gold inlays are also found on the pickups and just below the fingerboard, where Ritter put his signature. Further, the bridge, tuner buttons, and knobs are all handcast in massive gold. The two knobs are topped with flawless, 3.3-carat brilliant-cut diamonds, with tiny green diamonds set on the sides to serve as knob position markers
				</p>



										</p>
									</section>

									<div class="clearfix"></div>
									</li>
								</a>



								<div class="clearfix"></div>
								</a>
							</ul>
						</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="samsa" aria-labelledby="samsa-tab">

				</div>
					<div class="feed-back-form">
			<form>
				<p >Is there any Product You wish for us to get In stock ? To go to the
				Request a product page click on the Request button !!!!!</p>

					<p class="button"><a href="@routes.HomeController.requestProduct">Request Product</a></p>

			</form>
				</div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
$(document).ready(function () {
var elem=$('#container ul');
	$('#viewcontrols a').on('click',function(e) {
		if ($(this).hasClass('gridview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('list').addClass('grid');
				$('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
				$('#viewcontrols .gridview').addClass('active');
				$('#viewcontrols .listview').removeClass('active');
				elem.fadeIn(1000);
			});
		}
		else if($(this).hasClass('listview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('grid').addClass('list');
				$('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
				$('#viewcontrols .gridview').removeClass('active');
				$('#viewcontrols .listview').addClass('active');
				elem.fadeIn(1000);
			});
		}
	});
});
</script>

		<!--footer section start-->
			<footer class="diff">
			   <p class="text-center">&copy 2016 Resale. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
			</footer>
        <!--footer section end-->
		</section>


}
