@import models.Category
@import models.Product
@import models.users.User
@(env: play.api.Environment,products: List[Product], catId: Long, filter: String, user: User,p: Product)

@main("Home", user) {

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

	 <section>

         <div class="total-ads main-grid-border">
		<div class="container">
					<div class="container">
			<div class="col-md-2 focus-grid">
			<a href="@routes.HomeController.display_all_Mobiles">
					<div class="focus-border">
						
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-mobile"></i></div>
							<h4 class="clrchg">Mobiles</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
				<a href="@routes.HomeController.display_all_Electronics">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-laptop"></i></div>
							<h4 class="clrchg"> Electronics</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
					<a href="@routes.HomeController.display_all_Instruments">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-music"></i></div>
							<h4 class="clrchg">Instruments</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
				<a href="@routes.HomeController.display_all_Books">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-book"></i></div>
							<h4 class="clrchg">Books</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
					<a href="@routes.HomeController.display_all_Games">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-gamepad"></i></div>
							<h4 class="clrchg">Games</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2 focus-grid">
				<a href="@routes.HomeController.index">
					<div class="focus-border">
						<div class="focus-layout">
							<div class="focus-image"><i class="fa fa-home"></i></div>
							<h4 class="clrchg">Home</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
	
	
			<div class="display-box">
				
				<div class="browse-category ads-list">
					<label>Browse Categories</label>
					<select class="selectpicker show-tick" data-live-search="true">
					  <option data-tokens="Mobiles">All</option>
					  <option data-tokens="Mobiles">Mobiles</option>
					  <option data-tokens="Electronics & Appliances">Electronics</option>
					  <option data-tokens="Cars">Books</option>
					  <option data-tokens="Bikes">Instruments</option>
					  <option data-tokens="Furniture">Games</option>
					  <option data-tokens="Pets">Clothes</option>
		
					</select>
				</div>
				<div class="search-product ads-list">
					<label>Search for a specific product</label>
					<div class="search">
						<div id="custom-search-input">
						<div class="input-group">
								 <form action="@routes.ProductCtrl.display_all_products(0,filter)" method="GET">
									 <button class="btn btn-info btn-lg" type="button">
							<input type="text" id="searchbox" name="filter" value="@filter"  class="form-control input-lg" placeholder="Product Name" 	<span class="input-group-btn">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						
						</div>
					</div>
					</div>
				</div>
				










				<div class="clearfix"></div>
			</div>
		
		
			<div class="ads-grid">
				<div class="side-bar col-md-3">
				
			
				
					<div class="featured-ads">
						
					<h2 class="sear-head fer">Featured Ads</h2>
					<div class="featured-ad">
						<a href="@routes.HomeController.book_1">
							<div class="featured-ad-left">
								<img src="@routes.Assets.versioned("images/papillon1.jpg")"title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>@p.help(4)  by Henri Charriere </h4>
								<p> &#8364; @p.help_price(4) </p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="featured-ad">
						<a href="@routes.HomeController.game_1">
							<div class="featured-ad-left">
								<img src="@routes.Assets.versioned("images/resboevil.png")" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>@p.help(7) </h4>
								<p> &#8364; @p.help_price(7)</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="featured-ad">
						<a href="@routes.HomeController.mobiles_1">
							<div class="featured-ad-left">
								<img src="@routes.Assets.versioned("images/s7.jpg ")" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>@p.help(15)</h4>
								<p>&#8364; @p.help_price(7)</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					</div>
					<div class="clearfix"></div>
				</div>
			
				</div>
				<div class="ads-display col-md-9">
					<div class="wrapper">					
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					  <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						   <div>
												<div id="container">
								<div class="view-controls-list" id="viewcontrols">
									<label>view :</label>
									<a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
									<a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
								</div>
								<div class="sort">
								   <div class="sort-by">
									
									   </div>
									 </div>
								<div class="clearfix"></div>
							<ul class="list">
		<table class="table table-bordered table-hover table-condensed">
				<thead>
				<!-- The header row-->
				<tr>
					<th></th>
					<th>product_Name</th>
					<th>category</th>
					<th>manufacturer</th>
					<th>Price</th>
					<th>Buy</th>
				</tr>
				</thead>
				<tbody>
					<!-- Start of For loop - For each p in products add a row -->
					@for(p <- products) {
					<tr>
						<!-- Display each product field value in a column -->
					   <!-- Display each product field value in a column -->
                  @if(env.resource("public/images/productImages/thumbnail/" + p.getProduct_id + ".jpg").isDefined) {
                      <td><img src="/assets/images/productImages/thumbnail/@(p.getProduct_id + ".jpg")"/></td>
                  } else {
                      <td><img src="/assets/images/productImages/thumbnail/noImage.png"/></td>
                  }
						<td>@p.getProduct_name</td>
						<td>@p.getCategory</td>
						<td>@p.getManufacturer</td>
						<td>&euro; @("%.2f".format(p.getPrice))</td>
						<td><a href="@routes.ShoppingCtrl.addToBasket(p.getProduct_id )"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a></td>
					</tr>
					} <!-- End of For loop -->

				</tbody>
			</table>
    

								
							
									<div class="clearfix"></div>
									</li> 
								</a>
								
		
	  </div>

		<div class="col-md-9">
			@if(flash.containsKey("success")) {
				  <div class="alert alert-success">
					  @flash.get("success")
				  </div>
							

						
						
								<div class="clearfix"></div>
								
					
						</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="samsa" aria-labelledby="samsa-tab">
						
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
			<div class="feed-back-form">
			<form>
				<p >Is there any Product You wish for us to get In stock ? To go to the 
				Request a product page click on the Request button !!!!!</p>

					<p class="button"><a href="@routes.HomeController.requestProduct">Request Product</a></p>

			</form>
				</div>
							
	</div>
	<script type="text/javascript">
$(document).ready(function () {    
var elem=$('#container ul');      
	$('#viewcontrols a').on('click',function(e) {
		if ($(this).hasClass('gridview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('list').addClass('grid');
				$('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
				$('#viewcontrols .gridview').addClass('active');
				$('#viewcontrols .listview').removeClass('active');
				elem.fadeIn(1000);
			});						
		}
		else if($(this).hasClass('listview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('grid').addClass('list');
				$('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
				$('#viewcontrols .gridview').removeClass('active');
				$('#viewcontrols .listview').addClass('active');
				elem.fadeIn(1000);
			});									
		}
	});
});
</script>
       
		<!--footer section start-->
			<footer class="diff">
			   <p class="text-center">&copy 2016 Resale. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
			</footer>
        <!--footer section end-->
		</section>


}
}